<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCEg1areXKtAd-U2R0NryTAwreOrKeFYU</string>
	<key>GCM_SENDER_ID</key>
	<string>40717852249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donorlink</string>
	<key>PROJECT_ID</key>
	<string>donorlink-948a6</string>
	<key>STORAGE_BUCKET</key>
	<string>donorlink-948a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40717852249:ios:57be064c9ab4274d319b48</string>
</dict>
</plist>